/.devcontainer/
/builds/
/exportToHTML/
/Labs/Lab5/build

# Игнорировать файлы и папки, создаваемые CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Игнорировать файлы, создаваемые компилятором
*.o
*.obj
*.exe
*.out
*.app

# Игнорировать файлы, создаваемые IDE
.vscode/
.idea/
.cache
*.user

# Игнорировать временные файлы
*~
*.swp